


@media screen and (max-width: 758px){
.mobile {
width: 480px;
}
section, aside {
float: none;
width: 440px;}


}


@media screen and (max-width: 480px){
.tablet {
max-width: 480px;
width: auto;
margin: 20px;
}
section, aside {
float: none;
width: 92%;
padding: 4%;
}
}

@media screen and (max-width: 960px){
.computer {
width: 758px;
overflow: hidden;
}
section {
width: 420px;
}
aside {
width: 230px;
}