


div.textstyle {
	    color:white;
      font-family: Times New Roman, -serif;     
      font-size:2vw;
	  word-spacing: 8px;
	 letter-spacing: 2px;
	 font-style: oblique;
	 text-align-last: center;
    
		 	 
 }

body {
        background-image:url(water-lily-.png) ;		   
             background-blend-mode: lighten;
			  background-position: center;
              opacity:0.9;			           
	   		  padding-top: 50px;
              padding-right: 30px;
              padding-bottom: 50px;
              padding-left: 80px;
}		 		
 

	 
	 
	    
.moran {
   
      border-radius: 50%;
	  opacity:85%;
	 float:right;		 
    	 
		 
}	  		
	





home-sec { 
     
        background-image: url(water-lily-.png)  ;
         background-repeat: repeat-x;
        padding:6%;
		
		
}

div.hometext {
	
		 color: white;
	    font-size: 40px;
		text-align:right;
 	  	
}


   
	
			   

ul {
  list-style-type: none;
  margin: 0.3%;
  padding: 0;
  overflow: hidden;
 background-color: white;
   position: fixed;
  top: 0;
  width: 100%;
    font-weight: bold;
	
}

li {
  float: left;
}	
	
	
li a {
  display: block;
  text-align: center;
  padding: 16px 18px;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
  color:black;
    display: inline-block;
 
}
 
 h2 {
       font-size: 50px;
 }



h3{
	 text-align: center;
	 list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
      position: fixed;
      top: 0;
      width: 100%;
}

a{
	display: block;
	 padding: 8px;
     color: black;
    text-align: center;
    padding: 16px 18px;
 
}

a :hover {
  background-color:purple;
}


  
 a {
    float: none;
    width: 100%;
  }



  


img {  
      opacity:0.5;
}
	            
aboutme {
	      background-image:url(water-lily-.png) ;		   
             background-blend-mode: lighten;
			  background-position: right center;
              opacity:0.9;			           
	   		  padding-top: 50px;
              padding-right: 30px;
              padding-bottom: 50px;
              padding-left: 80px;
		 	
}


qa {
	      background-image:url(water-lily-.png) ;		   
             background-blend-mode: lighten;
			  background-position: right center;
             opacity:0.9;			           
	   		  padding-top: 50px;
           padding-right: 30px;
          padding-bottom: 50px;
           padding-left: 80px;
		 	
}


edu {
	 background-image:url(water-lily-.png) ;		   
             background-blend-mode: lighten;
			  background-position: right center;
             opacity:0.9;			           
	   		  padding-top: 50px;
           padding-right: 30px;
          padding-bottom: 50px;
           padding-left: 80px;
		  		  
}



details { 
              background-image:url(water-lily-.png) ;		   
             background-blend-mode: lighten;
			  background-position: right center;
             opacity:0.9;			        
	   		  padding-top: 50px;
           padding-right: 30px;
          padding-bottom: 50px;
           padding-left: 80px;
		   
 }
 

a.one:link {color:#ff0000;}
a.one:visited {color:white;}
a.one:hover {color:#ffcc00;}
      
                    

  


  





	     

	  







  

 

	

 
 
 



